.rain-card {
  width: 750rpx;
  background-color: #fff;
  border-radius: 20rpx;
  padding: 32rpx 28rpx;
  box-sizing: border-box;
  color: #292929;
  font-size: 28rpx;
  .rain-card-content {
    .rain-card-main-title {
      
    }
    .rain-card-sub-title {
      color: #BEC1D4;
    }
  }
}